.header_top {
    width: 1440px;
    margin: auto;
    padding: 38px 130px;
    background-color: #2A9D8F;
    ;
}

.nav_top,
.li_top {
    display: inline-block;
}

.nav_top {
    vertical-align: middle;
    margin-inline: 357px;
}

.logo_top {
    vertical-align: middle;
}

.li_top {
    color: #FFF;
    font-family: Nerko One;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.1px;
}

.middle_top {
    margin-inline: 50px;
}

.button_top {
    display: inline-flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    color: #2A9D8F;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.1px;
    vertical-align: middle;
}

.article_top {
    width: 780px;
    margin-top: 200px;
    margin-bottom: 200px;
    margin: 200px auto;
}

.article_top_title {
    color: #4D4D4D;
    text-align: center;

    /* Heading 1/medium */
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    /* 62.4px */
    letter-spacing: 0.24px;
}

.article_top_paragraph {
    color: #656565;
    text-align: justify;
    font-family: Nerko One;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 30px */
    letter-spacing: 0.1px;
}

.article_top_middle {
    margin-top: 60px;
    margin-bottom: 52px;
}

.section_one {
    width: 1440px;
    margin: auto;
    padding: 80px 130px;
    background-color: #C2F3EE;
}

.tree_img {
    display: inline-block;
    vertical-align: top;
    margin-right: 119px;
}

.article_two {
    display: inline-block;
    width: 457px;
    vertical-align: top;
}

.article_two_title {
    color: #272727;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    /* 150% */
    letter-spacing: 0.16px;
}

.article_two_paragraph {
    color: #515151;
    font-family: Poppins;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 27px;
    /* 150% */
    letter-spacing: 0.09px;
}

.article_two_middle {
    margin-top: 27px;
    margin-bottom: 45px;
}

.article_two_button {
    display: inline-flex;
    padding: 11px 16px;
    justify-content: center;
    align-items: center;
    background: #2A9D8F;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}