.header_top {
    width: 1440px;
    margin: auto;
    padding: 38px 130px;
    background-color: #2A9D8F;
    ;
}

.nav_top,
.li_top {
    display: inline-block;
}

.nav_top {
    vertical-align: middle;
    margin-inline: 357px;
}
.logo_top {
    vertical-align: middle;
}
.li_top {
    color: #FFF;
    font-family: Nerko One;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.1px;
}

.middle_top {
    margin-inline: 50px;
}

.button_top {
    display: inline-flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    color: #2A9D8F;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.1px;
    vertical-align: middle;
}