                                                                                   /* HEADER START */
.header_top {
    width: 1440px;
    margin: auto;
    padding: 38px 130px;
    background-color: #2A9D8F;
    ;
}
.logo_top {
    vertical-align: middle;
}

.nav_top,
.li_top {
    display: inline-block;
}

.nav_top {
    vertical-align: middle;
    margin-inline: 348px;
}

.li_top {
    color: #FFF;
    font-family: 'Nerko One', cursive;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.1px;
}

.middle_top {
    margin-inline: 50px;
}

.button_top {
    display: inline-flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    color: #2A9D8F;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.1px;
    vertical-align: middle;
}

                                                                                   /* ARTICLE START */
.article_top {
    width: 780px;
    margin: 200px auto;
}

.article_top_title {
    color: #4D4D4D;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.24px;
}

.article_top_paragraph {
    color: #656565;
    text-align: justify;
    font-family: 'Nerko One', cursive;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.1px;
}

.article_top_middle {
    margin-top: 60px;
    margin-bottom: 52px;
}

                                                                                   /* SECTION ONE START */
.section_one {
    width: 1440px;
    margin: auto;
    padding: 80px 130px;
    background-color: #C2F3EE;
}

.tree_img {
    display: inline-block;
    vertical-align: top;
    margin-right: 119px;
}

.article_two {
    display: inline-block;
    width: 457px;
    vertical-align: top;
}

.article_two_title {
    color: #272727;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.16px;
}

.article_two_paragraph {
    color: #515151;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.09px;
}

.article_two_middle {
    margin-top: 27px;
    margin-bottom: 45px;
}

.article_two_button {
    display: inline-flex;
    padding: 11px 16px;
    justify-content: center;
    align-items: center;
    background-color: #2A9D8F;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

                                                                                   /* SECTION TWO START */
.section_two {
    width: 1440px;
    margin: auto;
    padding: 200px 130px;
}

.section_two_title {
    text-align: center;
    margin-bottom: 54px;
    color: #4D4D4D;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.24px;
}

figure {
    display: inline-block;
    vertical-align: top;
}

.image_one {
    margin-right: 16px;
}

figcaption {
    margin-top: 32px;
    color: #535353;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.12px;
}

                                                                                   /* FOOTER */
footer {
    width: 1440px;
    margin: auto;
    padding: 90px 130px 148px 130px;
    background-color: #2A9D8F;
}

.logo_bottom {
    vertical-align: middle;
    margin-right: 621px;
}

.nav_category {
    display: inline-block;
    vertical-align: middle;
}

.nav_category_title {
    margin-bottom: 21px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.1px;}

.category_text {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.09px;
    vertical-align: middle;
}

.middle_category {
    margin-inline: 41px;
}
.middle_text {
    margin-top: 8px;
    margin-bottom: 8px;
}